<main class='p-5'>
	<div class="card p-5">
		<p id="test">
			Hello world! Hello world! Hello world! Hello world! Hello world!
			Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!
		</p>

		<p id="test">
			Hello world!
		</p>

		<p id="test">
			Hello world!
		</p>

		<span id="span">Test</span>
	</div>

	<pre class="test">	fsd</pre>

	{{!-- <div class="card p-5">
		<div class="form">
			<input type="checkbox" id="form">
			<label for="form">Checkbox Test</label>
		</div>
		<input class="test" type="number" id="ftest">
	</div> --}}

	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<div style="margin: 50px 0 50px 100px;">
		<span>InLine</span>
		<span>InLine</span>
		<span>InLine</span>

		<span class="block">InLine-block</span>
	</div>

	<div>Block</div>

</main>