.card {
  color: initial;
}
.card p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: yellow;
  -webkit-text-stroke: 1px rgb(172, 7, 184);

  direction: rtl;
}

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  text-align: justify;
  letter-spacing: 0.1em;
}
span {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline wavy red;
}

span:hover {
  text-decoration-line: line-through;
}
pre {
  tab-size: 5;
  letter-spacing: 30%;
}
* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
span {
  font-size: larger;
  font-weight: bolder;
}
